{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
        {% block title %}
        
        {% endblock title %}
    </title>

    <link rel="shortcut icon" href="{% static 'images/favicon-carpa.png' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4C8ML3ZFLD"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-4C8ML3ZFLD');
    </script>
</head>

<body>
    <div class="container">

        {% block navbar %}
            <nav class="navbar row">
            <a class="navbar-brand" href="/home">Carpa</a>
            <form class="form-inline">
                <div class="btn-group">
                <button type="button" class="button-navbar btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Usuario
                </button>
                <div class="dropdown-menu">
                        <li><a class="dropdown-item" href="/account">Cuenta</a></li>
                        <li><a class="dropdown-item" href="#">Ayuda</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/">Salir</a></li>
                </div>
                </div>
            </form>
            </nav>
       
        {% endblock navbar %}

        {% block content %}

        {% endblock content %}

        {% block footer %}
            <footer class="row page-footer font-small">
                <!-- Copyright -->
                <div class="footer-copyright text-center py-3 mx-auto">© 2021 Copyright:
                    <a className="text-white" href="https://www.encisosystems.com/">
                        <img class="" src="{% static 'images/Logo-white-30x87.png' %}" alt="Card image cap" height="30" width="87">
                    </a>
                </div>
                <!-- Copyright -->
            </footer>
        {% endblock footer %}

    </div>
    {% block footer_login %}
        <footer class="page-footer-login font-small">
            <!-- Copyright -->
            <div class="footer-copyright text-center py-3">© 2021 Copyright:
                <a className="text-white" href="https://www.encisosystems.com/">
                    <img class="" src="{% static 'images/Logo-white-30x87.png' %}" alt="Card image cap" height="30" width="87">
                </a>
            </div>
            <!-- Copyright -->
        </footer>
    {% endblock footer_login %}
    
   
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>

</body>

</html>
