{% extends "base.html" %}

{% load static %} 

{% block title %}
    Home-Carpa
{% endblock title %}



{% block content %}
    
    <div class="row mt-5 justify-content-center">
        <a class="card-menu col-11 col-md-8 card text-white bg-primary shadow my-3 mx-md-3 text-card" href="harvests">
            <div class="card-header row align-items-center h-100">
                <ion-icon class="col-5 h-100" name="chevron-forward-outline"></ion-icon>
                <div class="col-5 card-body text-center">
                    <h3 class="m-0" >Cosechas</h3>
                </div>
            </div>
        </a>    
        <a class="card-menu col-11 col-md-8 card text-white bg-primary shadow my-3 mx-md-3 text-card" href="#">     
            <div class="card-header row align-items-center h-100">
                <ion-icon class="col-5 h-100" name="chevron-forward-outline"></ion-icon>
                <div class="col-5 card-body text-center">
                    <h3 class="m-0" >Estadísticas</h3>
                </div>
            </div>
        </a>     

        <a class="card-menu col-11 col-md-8 card text-white bg-primary shadow my-3 mx-md-3 text-card" href="reports">
            <div class="card-header row align-items-center h-100">
                <ion-icon class="col-5 h-100" name="chevron-forward-outline"></ion-icon>
                <div class="col-5 card-body text-center">
                    <h3 class="m-0" >Reportes</h3>
                </div>
            </div>
        </a>   
    </div>

{% endblock content %}
