{% extends "base.html" %}

{% load static %} 

{% block title %}
    Home-Carpa
{% endblock title %}



{% block content %}
    
    <div class="content row justify-content-center ">
        <a class="card-menu col-11 col-md-8 card text-white  mx-md-1 text-card mt-5 " href="harvests">
            <div class="card-header row align-items-center h-100">
                <ion-icon class="col-3 h-100" name="chevron-forward-outline"></ion-icon>
                <div class="col-7 card-body text-center">
                    <h4 class="m-0" >Cosechas</h4>
                </div>
            </div>
        </a>    
        <a class="card-menu col-11 col-md-8 card text-white shadow mx-md-3 text-card " href="#">     
            <div class="card-header row align-items-center h-100">
                <ion-icon class="col-3 h-100" name="chevron-forward-outline"></ion-icon>
                <div class="col-7 card-body text-center">
                    <h4 class="m-0" >Estadísticas</h4>
                </div>
            </div>
        </a>     

        <a class="card-menu col-11 col-md-8 card text-white shadow mx-md-3 text-card mb-5" href="reports">
            <div class="card-header row align-items-center h-100">
                <ion-icon class="col-3 h-100" name="chevron-forward-outline"></ion-icon>
                <div class="col-7 card-body text-center">
                    <h4 class="m-0" >Reportes</h4>
                </div>
            </div>
        </a>   
    </div>

{% endblock content %}

{% block footer_login %}

{% endblock footer_login %}
