{% extends "base.html" %}

{% load static %}

{% block title %}
    Login Carpa
{% endblock title %}

{% block navbar %}
{% endblock navbar %}

{% block content %}
    
        <div class="row justify-content-center">
            <div class="col-md-9 col-lg-12 col-xl-10">
                <div class="card shadow-lg o-hidden border-0 mt-3 my-md-5 p-3 p-md-5 ">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-flex">
                                <img class="card-img-top" src="{% static 'images/carpa.png' %}" alt="Card image cap" height="600" width="900">
                            </div>
                            <div class="col-lg-6 mt-3">
                                <div class="px-5">
                                    <div class="text-center mt-md-5">
                                        <img class="" src="{% static 'images/logo-carpa.png' %}" alt="Card image cap" height="200" width="200">
                                        <h1 class="title my-3">CARPA</h1>
                                    </div>
                                    <form class="user">
                                        <div class="form-group my-3">
                                            <input class="form-control form-control-user" type="text" id="InputUser" aria-describedby="UserHelp" placeholder="Usuario" name="User">
                                        </div>
                                        <div class="form-group my-3">
                                            <input class="form-control form-control-user" type="password" id="exampleInputPassword" placeholder="Contraseña" name="password">
                                        </div>
                                        <div class="form-group my-3">
                                                <button type="button" class="button form-control btn  btn-block text-white btn-user" ><a href="/home" class="text-white">Entrar</a></button>
                                        </div>
                                          
                                        <hr>
                                    </form>
                                    <div class="row">
                                        <div class="col-12 col-md-6 text-center"><a class="small" href="forgot-password.html">Olvido su contraseña?</a></div>
                                        <div class="col-12 col-md-6 text-center"><a class="small" href="register.html">Crear una cuenta</a></div>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
{% endblock content %}

{% block footer %}

{% endblock footer %}
